@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Comfortaa", sans-serif;
}

.gamepad {
  position: fixed;
  bottom: -3px;
  right: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 2px 5px 17px 5px rgba(0, 0, 0, 0.26);
  transform: translateY(calc(100% - 25px));
  transition: 0.1s linear;
}

.gamepad .title {
  position: absolute;
  top: -13px;
}

.gamepad .play-btn {
  margin-top: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.gamepad>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.gamepad .ticks-div input {
  height: 20px;
  appearance: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.gamepad .board-div input {
  height: 20px;
  width: 50px;
  appearance: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.gamepad .color-div input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gamepad .color-div input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.gamepad .color-div input::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.invalid {
  border: 1px solid red !important;
}

.gamepad .reset-btn {
  cursor: pointer;
  color: red;
}

.gamepad:hover {
  transform: translateY(0);
}